@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap'); /*font-family: 'Changa', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap'); /*font-family: 'Exo 2', sans-serif*/

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#92F5EA;
    --cor2:#54A89E;
    --cor3:#F5ABF0;
    --cor4:#F5DC7A;
    --cor5:#AB9D67;

    --font-TITULO:'Exo 2', sans-serif;
    --font-PARAGRAFO:'Changa', sans-serif;


}

body{
    height: 100vh;
    background-color:#501F32;
}

header{
   background-color: #2E101A;
    width: 98vw;
    margin: auto;
    height: 100px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.342);
}

header h1{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: var(--font-TITULO);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.356);
   
}

main{
    background-image: url('https://media.istockphoto.com/id/1461136094/pt/vetorial/digital-christmas-tree-with-binary-code-christmas-tree.jpg?s=612x612&w=0&k=20&c=2S2hjM9wAJm4dI5XxVOV3OygzfvAQXfKhwhra2800vo=');
    background-repeat:  no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    
    position: relative;
    max-width: 90vw;
    height: 1000px;
    background-color: white;
    margin: 10px auto 10px auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.288);
    border-radius: 5px;
    
}

.video{
    background-image: url('https://st4.depositphotos.com/20770222/24078/v/1600/depositphotos_240784550-stock-illustration-orange-flat-basketball-ball-vector.jpg');
    background-size: cover;
    margin-top: 20px;
    position: absolute;
    height: 300px;
    width: 300px;
    left: 50%;
    transform: translate(-50%);

    
    
}

section > img{
    display: block;
    width: auto;
    height: 300px;
    margin: auto;
    border-radius: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    

}

section > p{
    color: white;
    line-height: 2em;
    font-family: var(--font-PARAGRAFO);
    font-weight: bold;
    text-align: center;
}



article > p{
    text-align: center;
    padding-top: 10px;
    font-family: var(--font-PARAGRAFO);
    font-weight: bold;
    background-color: #501B75;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}



footer{
    background-color: #5E3E75;
    height: 30px;
}

footer > p{
    color: black;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;

}

strong{
    background-color: #754d928a;
    
}
